* {
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../../components/App/Roboto/Roboto-Bold.ttf)
}

p {
    width: 70%;
}
.bold {
    font-family: Roboto-Bold;
}