header {
    margin-bottom: 20px;
    margin-top: 30px;
}

.desktop-nav {
    display: none;
}

* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F2FA2;
    color: white;
    margin: 0;
}

@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Regular.ttf)
}

.App {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1:hover {
    text-decoration: underline;
}

@media screen and (min-width: 480px) {
    .desktop-nav {
        display: block;
    }
    .mobile-nav {
        display: none;
    }
  }