.user_name {
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.password {
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

input {
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../../components/App/Roboto/Roboto-Bold.ttf)
}

.bold {
    font-family: Roboto-Bold;
}

p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}